b {
    color: red;
    text-shadow: 2px 2px 2px #fff;

}
html,body{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    background: url('../images/web.jpg') no-repeat 100% 100%;
    background-size: cover;
    font-size: 85%;
    margin: 0;
}
#music .music-Bg{
    position: fixed;
    top:20px;
    right:0px;
    width: 58px;
    height:58px;
}
    #music .music-Bg.music-spread{
    background:url('../images/music.gif') no-repeat center center;
    background-size:58px 58px;
}

#music .music-Bg .music-bg{
    position: absolute;
    width: 35px;
    height:35px;
    top:15px;
    right:15px;
    background:url('../images/music_off.png');
    background-size:100% 100%;
    z-index:-1;
}
#music .music-Bg .music-bg.music-bg-auto{
    -webkit-animation: musAuto 4s linear infinite;
    -moz-animation: musAuto 4s linear infinite;
    -ms-animation: musAuto 4s linear infinite;
    -o-animation: musAuto 4s linear infinite;
    animation: musAuto 4s linear infinite;
}
@-webkit-keyframes musAuto{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
@-moz-keyframes musAuto{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
    }
@-mz-keyframes musAuto{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
@-o-keyframes musAuto{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
@keyframes musAuto{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}

h1 {
    font-size: 240%;
    font-weight: 700;
    
}
.content {
    position: absolute;
    width: 100%;
    top: 40%;
    transform: translate(0, -50%);
    text-align: center;
    color: #2085AC;
    text-shadow: 0px 4px 5px #fff;
}

.invitation{
    position: absolute;
    width: 100%;
    bottom: 10%;
    transform: translate(0, -50%);
    text-align: center;
    color: #385F7C;
    font-weight:700; 
    text-shadow: 5px 5px 15px #fff;
}
.timer {
    font-size: 180%;
    line-height: 1.5;
    margin: 1em 0;
}
.timer b {
    color: red;
}
.browsehappy {
    color: #fff;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 49%
}
@media (max-width: 979px) {
    body {
        background: url('../images/m.jpg') no-repeat 100% 100%;
        background-size: cover;
    }
    .content {
        color: #F6F9FE;
        text-shadow: 2px 2px 2px #028EB0;
        font-weight:600; 
    }
    .timer {
        font-size: 140%;
        line-height: 1.2;
        margin: 1em 0;
        text-shadow: 2px 2px 2px #028EB0;
        font-weight:600; 
    }
    h1 {
        font-size: 210%;
        font-weight: 700;
    }
    .invitation{
        color: #F6F9FE;
        text-shadow: 2px 2px 2px rgb(3, 45, 56);
        font-weight:600; 
    }
}